.eraser-button {
    background-color: blue;
    color: whitesmoke;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.clear-canvas-button {
    background-color: palevioletred;
    color: rebeccapurple;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;

}
.highlighter-button{
    background-color: yellow;
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
}

/* Add this to your CSS file */
.thickness-input {
    margin-top: 10px;
  }
  
  /* Apply the class to the input element in your React component */
  