.eraser-button {
  background-color: blue;
  color: whitesmoke;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.clear-canvas-button {
  background-color: palevioletred;
  color: rebeccapurple;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;

}
.highlighter-button{
  background-color: yellow;
  color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
}
.desmos{
  background-color: darkgreen;
}
/* Add this to your CSS file */
.thickness-input {
  margin-top: 10px;
}
.calculator{
  height: 500px;
  width:500px;
  z-index: 2;
  left:60vw;
  top:100px;
  position:absolute;
  display: none;
}
.canvas-board {
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* margin: 0 auto; */
  display: block;
  cursor: crosshair;
  top: 10;
  left: 10;
  height: 100vh;  
}

.canvas-container {
  position: relative;
}

.toolbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  margin-left: 5px;
  top: 35%;
  left: 0%;
  z-index: 2; 

}


.pen-button {
  background-color: #2ecc71;
  color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
}
.shape-button {
  background-color: #e74c3c;
  color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
}